/*Tipografia*/
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

.down {
    cursor: pointer;
}

.text-justify {
    text-align: justify;
}

/* Estilos para el botón de Subir */
.boton-subir {
    display: none;
    position: fixed;
    bottom: 214px;
    right: 50px;
    z-index: 999;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .boton-subir:hover {
    background-color: #0056b3;
  }

/*Media queries*/
@media (min-width: 992px) {

    /* Carousel styling */
    #introBanner {
        margin-top: -58.59px;
    }
}

@media (max-width: 992px) {

    /* nav styling*/
    .bg-dark-response {
        --mdb--bg-opacity: 1;
        background-color: rgba(51, 45, 45, var(--mdb--bg-opacity));
    }

    .bg-dark-response {
        --mdb-bg-opacity: 1;
        background-color: rgba(var(--mdb-dark-rgb), var(--mdb-bg-opacity)) !important;
    }
}